.possibility{
    display: flex;
 margin: 2rem;
}

.possibility-img{
flex: 1;
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: 2rem ;
}

.possibility-img img{
width: 100%;
height: 100%;
}

.possibility__container{
flex:1;
display: flex;
justify-content: flex-end;
align-items: flex-start;
flex-direction: column;
margin-left: 2rem;
}
.possibility__container h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}
.possibility__container h4:last-child{
    color: #ff8A71;
}
.possibility__container h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    /* margin: 1rem 0; */
}
.possibility__container p{
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2rem;
}

@media screen and (max-width:800px) {
.possibility{
    flex-direction: column;
}

    .possibility-img, .possibility__container{
        margin: 2rem .5rem 0 .5rem;
    
    }
    .possibility__container h4, .possibility__container p{
        font-size: 15px;
    }
    
    .possibility__container h1{
        font-size: 28px;
    }
    
}
@media screen and (max-width:500px) {
    .possibility-img{
margin: 0;}

    .possibility__container{
        margin-top:2rem;
        
    }

    .possibility__container h4, .possibility__container p{
        font-size: 14px;
    }
    
    .possibility__container h1{
        font-size: 24px;
    }
    
}